.additional-item {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  border-top: 1px solid $basic-dark-grey;
  padding-bottom: 18px;
}

.additional-item__title {
  @include font(oswald, 400, 16px, 16px);
  text-transform: uppercase;
  color: $special-dark-grey;
  text-decoration: none;
  margin: 0;
  margin-bottom: 13px;
}

.additional-item__information {
  @include font(arial, 400, 14px, 14px);
  color: $special-grey;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.additional-item__information p {
  margin: 0;
}

.additional-item__order-button {
  font-size: 16px;
  line-height: 14px;
  padding: 13px 0;
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width)  {
  .additional-item {
    border: 1px solid $basic-dark-grey;
    padding-top: 25px;
    padding-left: 38px;
    padding-right: 34px;
    padding-bottom: 27px;
  }

  .additional-item__title {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
  }

  .additional-item__information {
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 24px;
  }

  .additional-item__price p {
    margin-left: 15px;
  }

  .additional-item__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-item__order-button {
    font-size: 16px;
    line-height: 14px;
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width)  {
  .additional-item {
    border-top: 1px solid $basic-dark-grey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 72px;
    width: 895px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 34px;
    padding-bottom: 0;
    margin-bottom: -28px;
  }

  .additional-item__order-button {
    margin-top: -11px;
    margin-bottom: 44px;
    padding: 13px 91px;
    width: auto;
  }

  .additional-item__information  {

  }
}






