.additional-goods__title {
  font-family: oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.additional-goods__list {
  style-list: none;
  padding-left: 0;
}


