.additional-item__title {
  @include font(oswald, 400, 16px, 16px);
  text-transform: uppercase;
  color: $special-dark-grey;
  text-decoration: none;
}

.additional-item__information {
  @include font(arial, 400, 14px, 14px);
  color: $special-grey;
}

@media (min-width: $tablet-width)  {
  .additional-item {
    border: 1px solid #CDCDCD;
    height: 140px;
    width: 100%;
  }
  .additional-item__title {
    font-size: 20px;
    line-height: 20px;
  }
  .additional-item__information {
    font-size: 16px;
    line-height: 20px;
  }
  .additional-item__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width)  {
  .additional-item {
    border: 1px solid #CDCDCD;
    border-left: none;
    border-right: none;
    height: 72px;
    width: 895px;
    display: flex;
    justify-content: space-between;
  }
}






