.address {
  background-image: url(../img/bg-map-mobile@1x.png);
  background-color: $basic-light-grey;
  background-size: cover;
  width: 100%;
  height: 476px;
}

.address__vacancy {
  @include font(oswald, 400, 16px, 19px);
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
}

.address__our-address {
  @include font(arial, 400, 14px, 20px);
  color: $special-grey;
  background-color: $basic-white;
}

.address__our-address p {
  margin: 0;
  min-width: 140px;
}

.address__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;
}


@media (min-width: $tablet-width) {
  .address {
    background-image: url(../img/bg-map-tablet@1x.png);
  }
  .address__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
    background-image: url(../img/bg-map-desktop@1x.png);
  }
  .address__vacancy {
    max-width: 163px;
  }
  .address__our-address {
    position: absolute;
    top: 60px;
    left: 105px;
    width: 570px;
    height: 201px;
  }
}

