.address {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-color: $basic-light-grey;
  background-size: cover;
  width: 100%;
  height: 476px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }
}

.address iframe {
  z-index: 1;
  width: 100%;
  height: 476px;
  border: 0;
}

.address__vacancy {
  @include font(oswald, 400, 16px, 19px);
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
}

.address__our-address {
  @include font(arial, 400, 14px, 20px);
  color: $special-grey;
  background-color: $basic-light-grey;
  position: relative;
  top: -481px;

  &--index {
    background-color: $basic-white;
  }
}

.address__our-address p,
.address__our-address span {
  margin: 0;
  max-width: 140px;
}

.address__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 24px;
}


@media (min-width: $tablet-width) {
  .address {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 603px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: cover;
    }
  }

  .address iframe {
    height: 603px;
  }

  .address__wrapper {
    width: 81.4%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 66px;
  }

  .address__vacancy {
    font-size: 20px;
    line-height: 22px;
  }

  .address__city {
    font-weight: 400;
    display: block;
    margin-top: 14px;
  }

  .address__our-address {
    top: -608px;
  }

  .address__our-address p,
  .address__our-address span {
    max-width: 171px;
  }

  .address__our-address span {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .address {
    background-image: url("../img/bg-map-desktop@1x.png");
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: cover;
    }
  }

  .address iframe {
    height: 400px;
  }

  .address__vacancy {
    max-width: 163px;
  }

  .address__our-address {
    position: relative;
    top: -405px;
    width: 1220px;
    height: 400px;
    margin: 0 auto;
    background-color: transparent;
  }

  .address__wrapper {
    position: absolute;
    top: 94px;
    left: 0;
    width: 420px;
    background-color: $basic-white;
    padding-top: 70px;
    padding-left: 77px;
    padding-right: 73px;
    padding-bottom: 60px;
  }

  .address__our-address span {
    text-align: left;
  }
}
