.advertising {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0%;
  width: 100%;
  height: 305px;
  background-repeat: no-repeat;
  margin-bottom: 172px;
  background-color: $basic-dark-green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.advertising__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
}

.advertising__title {
  @include font(oswald, 400, 36px, 36px);
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  max-width: 249px;
}

.advertising__slogan {
  position: relative;

  @include font(oswald, 400, 14px, 14px);
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 303px;

  &::after {
    content: "";
    top: 41px;
    left: -42px;
    position: absolute;
    background-image: url("../img/index-can-mobile@1x.png");
    width: 280px;
    height: 270px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 282px auto;
      background-repeat: no-repeat;
    }
  }
}

.advertising__get-program {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advertising {
    display: block;
    padding-bottom: 308px;
    padding-top: 69px;
    background: none;
  }

  .advertising__wrapper {
    display: block;
    width: 84.2%;
    padding-left: 114px;
  }

  .advertising__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    min-width: 414px;
    padding-top: 0;
  }

  .advertising__slogan {
    min-width: 283px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    margin-top: 41px;
    margin-bottom: 61px;

    &::after {
      top: 39px;
      left: -89px;
      z-index: -1;
      background-image: url("../img/index-can-tablet@1x.jpg");
      width: 709px;
      height: 609px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: 709px auto;
        background-repeat: no-repeat;
      }
    }
  }

  .advertising__get-program {
    padding: 12px 26px;
    margin-left: -6px;
  }
}

@media (min-width: $desktop-width) {
  .advertising {
    padding-bottom: 50px;
    padding-top: 111px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -113px;
      right: 0;
      z-index: -1;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: 100% 0%;
      width: 50%;
      height: 696px;
      background-repeat: no-repeat;
      background-color: $basic-dark-green;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 719px auto;
      }
    }
  }

  .advertising__wrapper {
    width: 84.7%;
    padding-left: 160px;
  }

  .advertising__slogan {
    margin-top: 39px;
    margin-bottom: 63px;

    &::after {
      top: -241px;
      left: 368px;
      z-index: 1;
      background-image: url("../img/index-can-desktop@1x.png");
      width: 552px;
      height: 499px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 549px auto;
        background-repeat: no-repeat;
      }
    }
  }

  .advertising__get-program {
    margin-left: 0;
  }
}
