.advertising {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-position: 50% 0%;
  width: 280px;
  height: 305px;
  background-repeat: no-repeat;
  margin-bottom: 172px;
  background-color: $basic-green;
}

.advertising__title {
  @include font(oswald, 400, 36px, 36px);
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
}

.advertising__slogan {
  position: relative;
  @include font(oswald, 400, 14px, 14px);
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  margin-bottom: 313px;
    &::after {
      content: "";
      top: 41px;
      left: 0px;
      position: absolute;
      background-image: url(../img/index-can-mobile@1x.png);
      width: 280px;
      height: 270px;
    }
}

.advertising__get-program {
  width: 100%;
  padding: 9px 73px;
}

@media (min-width: $tablet-width) {
  .advertising {
  padding-bottom: 308px;
  padding-left: 88px;
  padding-top: 59px;
  background: none;
  }
  .advertising__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    min-width: 414px;
    padding-top: 0;
  }
  .advertising__slogan {
    min-width: 283px;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    margin-top: 41px;
    margin-bottom: 71px;
      &::after {
        content: "";
        top: 39px;
        left: -89px;
        position: absolute;
        z-index: -1;
        background-image: url(../img/index-can-tablet@1x.jpg);
        width: 709px;
        height: 609px;
    }
  }
  .advertising__get-program {
    padding: 12px 26px;
    margin-left: -6px;
  }
}

@media (min-width: $desktop-width) {
  .advertising {
    padding-bottom: 267px;
  }
  .advertising__slogan::after {
    content: "";
    top: -100px;
    left: 300px;
    position: absolute;
    z-index: -1;
    background-image: url(../img/index-can-desktop@1x.png);
    width: 552px;
    height: 499px;
  }
}




