.example {
  background-color: $special-background-grey;
  padding-top: 27px;
  padding-bottom: 36px;
}

.example__title {
  @include font(oswald, 400, 36px, 40px);
  margin: 0;
  margin-bottom: 33px;
}

.example__description {
  @include font(arial, 400, 14px, 18px);
  margin: 0;
  margin-bottom: 25px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
}

.example__results {
  border: 1px solid $basic-dark-grey;
  border-radius: 3px;
  text-align: center;
  width: 122px;
  margin: 0;
}

.example__results dt {
  @include font(oswald, 400, 24px, 24px);
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 16px;
}

.example__results dd {
  @include font(arial, 400, 12px, 12px);
  color: $special-grey;
  margin: 0;
  margin-top: -7px;
  margin-left: 20px;
  max-width: 80px;
  position: absolute;
  z-index: 2;
  background-color: $special-background-grey;
}

.example__expenses {
  @include font(oswald, 400, 14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 42px;
}

.example__toggles {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  margin-left: 44px;
  margin-right: 39px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient($basic-white 57%, $special-background-grey 43%);
    padding-top: 43px;
    padding-bottom: 66px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example__results {
    width: 161px;
    margin-right: 41px;
  }

  .example__results dt {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 18px;
  }

  .example__results dd {
    font-size: 14px;
    line-height: 14px;
    max-width: 142px;
    margin-left: 27px;
    margin-top: -6px;
    background-color: $basic-white;
      &:last-child {
        margin-left: 17px;
      }
  }

  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 25px;
    max-width: 174px;
    text-align: right;
    margin-top: 11px;
    margin-bottom: 0;
  }

  .example__toggles {
    margin-top: 13px;
    margin-right: 69px;
    margin-left: 68px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient($basic-white 26%, $special-background-grey 18%);
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 36px;
  }

  .example__container {
    display: flex;
    flex-direction: column;
  }

  .example__title {
    margin-bottom: 147px;
  }

  .example__description {
    max-width: 436px;
    margin-bottom: 68px;
  }

  .example__wrapper {
    justify-content: start;
  }

  .example__expenses {
    max-width: max-content;
    text-align: left;
    margin-top: 59px;
    margin-bottom: 37px;
      & span {
        margin-left: 59px;
      }
  }
  .example__toggles {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 231px;
  }

  .example__results dd {
    background-color: $special-background-grey;
  }
}




