.example {
  background-color: #EAEAEA;
}

.example__title {
  font-family: oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__description {
  font-family: arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
}

.example__results {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  border-bottom: none;
}

.example__results dt {
  font-family: oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.example__results dd {
  font-family: arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $special-grey;
}

.example__expenses {
  font-family: oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}

.slider__toggle {
  border: none;
  background-color: transparent;
  font-family: oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}
