.gift-information {
  display: grid;
  justify-items: center;
  position: relative;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-size: cover;
  background-color: $basic-green;
  width: 100%;
  height: 289px;
  box-sizing: border-box;
  padding-top: 187px;
  padding-right: 61px;
  padding-bottom: 43px;
  padding-left: 58px;
  margin-bottom: 34px;
    &::after {
      content: "";
      position: absolute;
      top: 59px;
      left: 50%;
      margin-left: -42px;
      background-image: url(../img/icon-gift.svg);
      width: 78px;
      height: 80px;
    }
     @media (min-resolution: 2dppx) {
       background-image: url(../img/gift-photo-mobile@2x.jpg);
     }
}

.gift-information__description {
  @include font(arial, 400, 16px, 20px);
  color: $basic-white;
  max-width: 161px;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gift-information {
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    padding-top: 71px;
    padding-right: 17.5%;
    padding-bottom: 69px;
    padding-left: 59.7%;
    margin-bottom: 75px;
      &::after {
        top: 57px;
        left: 78px;
        margin-left: 0;
      }
      @media (min-resolution: 2dppx) {
        background-image: url(../img/gift-photo-tablet@2x.jpg);
        background-repeat: no-repeat;
      }
  }

  .gift-information__description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift-information {
    background-image: url(../img/gift-photo-desktop@1x.jpg);
    width: 245px;
    height: 289px;
    text-align: center;
    padding-top: 189px;
    padding-right: 43px;
    padding-bottom: 42px;
    padding-left: 41px;
    margin-top: 114px;
    margin-bottom: 87px;
      &::after {
        left: 85px;
      }
     @media (min-resolution: 2dppx) {
       background-image: url(../img/gift-photo-desktop@2x.jpg);
       background-size: 245px auto;
     }
  }

  .gift-information__description {
    text-align: center;
  }
}
