.item {
  position: relative;
}

.item__decoration {
  position: absolute;
  left: 90%;
    &--email {
      top: 18px;
      width: 18px;
      height: 13px;
    }
    &--phone {
      top: 14px;
      width: 20px;
      height: 20px;
    }
}

@media(min-width: $tablet-width) {
  .item__decoration {
    left: 92.8%;
  }
}

@media(min-width: $desktop-width) {
  .item__decoration {
    left: 93.8%;
  }
}
