.more-goods__description {
  font-family: arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-grey;
}

.more-goods__description span {
  font-family: oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}




