.more-goods__description {
  @include font(arial, 400, 12px, 16px);
  color: $special-grey;
  text-align: center;
  margin: 0;
}

.more-goods__title {
  position: relative;
  @include font(oswald, 400, 16px, 20px);
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
  text-align: center;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #D3D3D3;
    }
}

@media (min-width: $tablet-width) {
  .more-goods {
    border: 2px solid #D3D3D3;
    /*width: 324px;
    height: 430px;*/
    justify-content: center;
    align-items: center;
    padding-left: 37px;
    padding-right: 39px;
    padding-top: 158px;
    padding-bottom: 44px;
  }
  .more-goods__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    max-width: 167px;
    margin: 0 auto 99px auto;
  }
  .more-goods__title {
    font-size: 20px;
    line-height: 22px;
    max-width: 134px;
    margin: 0 auto 24px auto;
      &::before,
      &::after {
        width: 60px;
      }
      &::before {
        top: -80px;
        left: 40px;
      }
      &::after {
        transform: rotate(90deg);
        top: -80px;
        left: 40px;
      }
  }
  .more-goods__to-all {
    font-size: 16px;
    line-height: 0px;
    /*width: 100%;*/ /* Не срабатывает*/
    padding: 10px 77px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .more-goods {
    width: 245px;
    height: 431px;
  }
}




