.page-footer {
  background-color: $basic-light-grey;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

.page-footer__logo {
  display: grid;
  justify-items: center;
  padding-bottom: 27px;
  padding-top: 40px;
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__developed {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
}

.page-footer__developed a {
  @include font(arial, 400, 16px, 18px);
  color: $basic-black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 708px;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 58px auto;
  }

  .page-footer__logo {
    justify-items: start;
    padding: 0;
    border-bottom: none;
  }

  .page-footer__developed {
    justify-content: flex-end;
    padding: 0;
  }

  .page-footer__developed a:first-child {
    margin-right: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
      width: 1220px;
      margin: 64px auto;
    }
}
