.page-header__logo {
  height: 38px;
}

.page-header__wrapper {
  position: relative;
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
    margin-top: 29px;
  }

  .page-header__wrapper {
    width: 92.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
    margin-top: 68px;
  }

  .page-header__wrapper {
    width: 84.7%;
  }
}
