.page-header__logo {
  height: 38px;
}

.page-header__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
    margin-top: 29px;
  }
  .page-header__navigation {
    max-width: 440px;
  }
  .page-header__wrapper {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
  }
  .page-header__navigation {
    max-width: 478px;
  }
  .page-header__wrapper {
    width: 1220px;
  }
}
