.page-header__logo {
  height: 38px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__wrapper {
  position: relative;
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
    margin-top: 19px;
  }

  .page-header__logo img {
    width: 152px;
    height: 64px;
  }

  .page-header__wrapper {
    width: 92.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
    margin-top: 54px;
  }

  .page-header__wrapper {
    width: 84.7%;
  }

  .page-header__logo img {
    width: 202px;
    height: 60px;
  }
}
