.page__body {
  margin: 0;
  min-width: 320px;
  color: $basic-black;
  font-family: roboto, arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  @include font(oswald, 400, 14px, 18px);
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
    &:hover,
    &:focus {
    background-color: $basic-dark-green;
    }
    &:active {
      background-color: $basic-dark-green;
      color: rgba(255, 255, 255, 0.3);
    }
}

.button--show-more {
  background: #F2F2F2;
  color: $special-grey;
    &:hover,
    &:focus {
      background-color: $basic-grey;
    }
    &:active {
      background-color: $basic-grey;
      color: rgba(68, 68, 68, 0.3);
    }
}

@media (min-width: $tablet-width) {
  .button {
    @include font(oswald, 400, 20px, 30px);
    padding: 14px 26px;
  }
}





