.page__body {
  margin: 0;
  min-width: 320px;
  color: $basic-black;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: $basic-green;
  border: none;
  @include font(oswald, 400, 14px, 18px);
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  padding: 7px 44px;
    &:hover,
    &:focus {
    background-color: $basic-dark-green;
    }
}

.button:active {
  background-color: $basic-dark-green;
  color: rgba(255, 255, 255, 0.3);
}

.button--show-more {
  background: #F2F2F2;
  color: $special-grey;
    &:hover,
    &:focus {
      background-color: $basic-grey;
    }
}

.button--show-more:active {
  background-color: $basic-grey;
  color: rgba(68, 68, 68, 0.3);
}

/*@media (min-width: $desktop-width) {
  .page__body {
    background-image: url(../img/index-background-desktop@1x.jpg);
    width: 720px;
    height: 696px;
    background-repeat: no-repeat;
    background-position: right;
  }
}
*/


