.page-footer {
  background-color: $basic-light-grey;
}

.page-footer__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

.page-footer__logo {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 27px;
  padding-top: 40px;
  border-bottom: 1px solid #D9D9D9;
    & a:hover,
    & a:focus {
      opacity: 0.8;
    }
    & a:active {
      opacity: 0.6;
    }
}

.page-footer__developed {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.page-footer__developed a {
  @include font(arial, 400, 16px, 18px);
  color: $basic-black;
  text-decoration: none;
    &:active {
      opacity: 0.3;
    }
}

.page-footer__developed a:hover .page-footer__developed svg {
  fill: $basic-green;
}

.page-footer__developed svg {
  width: 24px;
  height: 37px;
  fill: $special-light-grey;
    &:hover,
    &:focus {
      fill: $basic-green;
    }
    &:active {
      opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 92.2%;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 55px auto;
  }

  .page-footer__logo {
    justify-items: start;
    padding: 0;
    border-bottom: none;
  }

  .page-footer__developed {
    justify-content: flex-end;
    padding: 0;
  }

  .page-footer__developed a:first-child {
    margin-right: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
      width: 84.7%;
      margin: 61px auto;
    }
}
