.primary-item__title a {
  @include font(oswald, 400, 16px, 20px);
  text-transform: uppercase;
  color: $special-dark-grey;
  text-decoration: none;
}

.primary-item__title {
  margin: 0;
  margin-bottom: 5px;
  margin-left: 140px;
  max-width: 100px;
}

.primary-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid #EBEBEB;
    &:first-child {
      border-top: 1px solid #EBEBEB;
    }
}

.primary-item__img {
  position: absolute;
  top: 1px;
  left: 1px;
}

.primary-item__information {
  @include font(arial, 400, 12px, 16px);
  color: $special-grey;
  margin-left: 140px;
  margin-bottom: 14px;
}

.primary-item__information td:nth-child(2) {
  text-align: right;
}

.primary-item__wrapper {
  display: flex;
  flex-direction: column;
}

.primary-item__container {
  display: flex;
}

.primary-item__order-button {
  font-size: 16px;
  line-height: 14px;
  padding: 13px 0;
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .primary-item {
    align-items: center;
    background-color: $basic-light-grey;
    min-width: 324px;
    box-sizing: border-box;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 39px;
    padding-top: 164px;
    border: none;
      &:first-child {
        border-top: none;
      }
  }
  .primary-item__title {
    max-width: 159px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }

  .primary-item__title a {
    font-size: 20px;
    line-height: 23px;
    max-width: 174px;
  }

  .primary-item__img {
    left: 0;
      &--small {
        top: -44px;
      }
      &--big {
        top: -70px;
      }
  }

  .primary-item__information {
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 19px;
    margin-left: 0;
  }
  .primary-item__information tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid $basic-dark-grey;
    padding-bottom: 4px;
  }
  .primary-item__order-button {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .primary-item {
    min-width: 245px;
  }

  .primary-item__title a {
    font-size: 20px;
    line-height: 21px;
    max-width: 145px;
  }

  .primary-item__information {
    margin-bottom: 23px;
  }

  .primary-item__img {
    &--small {
      top: -51px;
    }
    &--big {
      top: -80px;
    }
  }
}




