.primary-goods__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .primary-goods__list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   column-gap: 8%;
   row-gap: 140px;
   margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .primary-goods__list {
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 6.3%;
   row-gap: 142px;
   margin-bottom: 75px;
  }
}
