.principle {
  margin-bottom: 46px;
}

.principle__title {
  margin: 0;
  margin-bottom: 40px;
  @include font(oswald, 400, 36px, 40px);
}

.principle__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.principle__item {
  position: relative;
  @include font(arial, 400, 14px, 18px);
  color: $special-grey;
  max-width: 199px;
  margin-bottom: 26px;
  padding-left: 80px;
    &--healthy::before,
    &--easy::before,
    &--portion::before,
    &--fast::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: $basic-green;
    }
}

.principle__item--healthy::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    background-image: url(../img/advantage-leaf@1x.png);
    width: 50px;
    height: 50px;
}

.principle__item--easy::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    background-image: url(../img/advantage-powder@1x.png);
    width: 50px;
    height: 50px;
}

.principle__item--portion::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    background-image: url(../img/advantage-dining@1x.png);
    width: 50px;
    height: 50px;
}

.principle__item--fast::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    background-image: url(../img/advantage-clock@1x.png);
    width: 50px;
    height: 50px;
}

@media (min-width: $tablet-width) {
  .principle {
    padding-bottom: 76px;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 39px;
    margin-bottom: 0;
  }
  .principle__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 183px;
  }
  .principle__list {
    list-style: none;
    padding-left: 0;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 220px;
  }
  .principle__item {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
    padding-left: 0;
      &--healthy::before,
      &--easy::before,
      &--portion::before,
      &--fast::before {
        content: "";
        position: absolute;
        top: -110px;
        left: 0px;
        width: 80px;
        height: 80px;
        background-color: $basic-green;
      }
    }

  .principle__item--healthy::after {
    content: "";
    position: absolute;
    top: -97px;
    left: 15px;
    background-image: url(../img/advantage-leaf@1x.png);
    width: 50px;
    height: 50px;
  }

  .principle__item--easy::after {
    content: "";
    position: absolute;
    top: -97px;
    left: 15px;
    background-image: url(../img/advantage-powder@1x.png);
    width: 50px;
    height: 50px;
  }

  .principle__item--portion::after {
    content: "";
    position: absolute;
    top: -97px;
    left: 15px;
    background-image: url(../img/advantage-dining@1x.png);
    width: 50px;
    height: 50px;
  }

  .principle__item--fast::after {
    content: "";
    position: absolute;
    top: -97px;
    left: 15px;
    background-image: url(../img/advantage-clock@1x.png);
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .principle__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
  .principle {
    border-bottom: none;
  }
}



