.programs-item {
  width: 227px;
  position: relative;
  background-color: $basic-light-grey;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 19px;
  padding-left: 20px;
  margin-bottom: 20px;
    &--lose-weight::before,
    &--gain-weight::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 22px;
      width: 50px;
      height: 50px;
      background-color: $basic-green;
      border-radius: 50%;
    }
}

.programs-item--lose-weight::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  background-image: url("../img/icon-cat-slim.svg");
  width: 36px;
  height: 50px;
}

.programs-item--gain-weight::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  background-image: url("../img/icon-cat-pro.svg");
  width: 67px;
  height: 28px;
}

.programs-item__title {
  @include font(oswald, 400, 24px, 37px);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
}

.programs-item__description {
  @include font(arial, 400, 14px, 18px);
  color: $special-grey;
  border-bottom: 1px solid $special-border-grey;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 18px;
}

.programs-item__link {
  position: relative;
  @include font(oswald, 400, 16px, 16px);
  text-transform: uppercase;
  color: $special-black;
  text-decoration: none;
    &:active {
      color: $basic-dark-grey;
    }
}

.programs-item__link::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 105px;
  background-image: url("../img/icon-right-arrow-long.svg");
  height: 8px;
  width: 18px;
}

.programs-item__link:active::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .programs-item {
    width: 377px;
    position: relative;
    padding-top: 77px;
    padding-right: 279px;
    padding-bottom: 57px;
    padding-left: 53px;
    margin-bottom: 30px;
      &--lose-weight::before,
      &--gain-weight::before {
        content: "";
        position: absolute;
        top: 92px;
        left: 446px;
        width: 200px;
        height: 200px;
        background-color: $basic-green;
        border-radius: 50%;
      }
    }
    .programs-item--lose-weight::after {
      content: "";
      position: absolute;
      top: 81px;
      left: 477px;
      background-image: url("../img/icon-cat-slim.svg");
      width: 139px;
      height: 192px;
    }
    .programs-item--gain-weight::after {
      content: "";
      position: absolute;
      top: 135px;
      left: 413px;
      background-image: url("../img/icon-cat-pro.svg");
      width: 268px;
      height: 112px;
    }
    .programs-item__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 0;
      margin-bottom: 25px;
    }
    .programs-item__description {
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 51px;
    }
    .programs-item__link {
      font-size: 20px;
      line-height: 30px;
        &::after {
          content: "";
          position: absolute;
          top: 11px;
          left: 119px;
        }
    }
}

@media (min-width: $desktop-width) {
  .programs-item {
    width: 467px;
    position: relative;
    padding-top: 77px;
    padding-right: 51px;
    padding-bottom: 59px;
    padding-left: 52px;
    margin-bottom: 6px;
      &--lose-weight::before,
      &--gain-weight::before {
        content: "";
        position: absolute;
        top: 47px;
        left: 52px;
        width: 100px;
        height: 100px;
        background-color: $basic-green;
        border-radius: 50%;
      }
    }
    .programs-item--lose-weight::after {
      content: "";
      position: absolute;
      top: 41px;
      left: 67px;
      background-image: url("../img/icon-cat-slim.svg");
      width: 70px;
      height: 97px;
    }
    .programs-item--gain-weight::after {
      content: "";
      position: absolute;
      top: 67px;
      left: 34px;
      background-image: url("../img/icon-cat-pro.svg");
      width: 134px;
      height: 56px;
    }
  .programs-item__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }
  .programs-item__description {
    margin-bottom: 26px;
  }
  .programs-item__link::after {
    left: 137px;
  }
}
