.programs__list {
  list-style: none;
  padding-left: 0;
}
.programs-item {
  position: relative;
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 22px;
  padding-left: 20px;
  margin-bottom: 20px;
    &--lose-weight::before,
    &--gain-weight::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 22px;
      width: 50px;
      height: 50px;
      background-color: #68B738;
      border-radius: 50%;
    }
}

.programs-item--lose-weight::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 31px;
  background-image: url("../img/icon-cat-slim.svg");
  width: 36px;
  height: 50px;
}

.programs-item--gain-weight::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 12px;
  background-image: url("../img/icon-cat-pro.svg");
  width: 67px;
  height: 28px;
}

.programs-item__title {
  font-family: oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-left: 71px;
}

.programs-item__description {
  font-family: arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #D9D9D9;
  margin: 0;
}

.programs-item__link {
  position: relative;
  font-family: oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
    &:active {
      color: #CDCDCD;
    }
}

.programs-item__link::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 110px;
  background-image: url("../img/icon-right-arrow-long.svg");
  height: 8px;
  width: 18px;
}

.programs-item__link:active::after {
  opacity: 0.3;
}
