.slider__button {
  border: none;
  background-color: transparent;
  @include font(oswald, 400, 16px, 20px);
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

.slider__control {
  margin-top: 5px;
  position: relative;
}

.slider__bar {
  width: 83px;
  height: 12px;
  background: $basic-white;
  border: 1px solid $basic-dark-grey;
  border-radius: 6px;
}

.slider__toggle--big {
  position: absolute;
  top: 3px;
  left: 7px;
  z-index: 2;
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;
  cursor: pointer;
}

.slider__item {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .slider__button {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 3px;
    border-bottom: 1px dotted $basic-dark-grey;
      &:hover,
      &:focus {
        border-bottom: 1px solid $special-light-grey;
      }
  }

  .slider__item {
    margin-top: 87px;
    margin-left: 17px;
  }

  .slider__control {
    margin-top: 11px;
  }

  .slider__bar {
    width: 428px;
    height: 8px;
    background: #DCDCDC;
    border: none;
  }

  .slider__toggle {
    position: absolute;
    border-radius: 50%;
      &--big {
        top: -12px;
        left: 198px;
        width: 34px;
        height: 34px;
        background: $basic-white;
        border: 1px solid $basic-dark-grey;
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
          &:hover,
          &:focus {
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
          }
          &:active {
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
            border: 1px solid $basic-green;
          }
    }
      &--small {
        top: 2px;
        left: 212px;
        width: 8px;
        height: 8px;
        background: $basic-green;
        z-index: 3;
        cursor: pointer;
      }
  }
}

@media (min-width: $desktop-width) {
  .slider__item {
    margin-top: -51px;
    margin-left: 146px;
  }

}








