.socials {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  display: flex;
    &::after {
      position: absolute;
      content: "";
      top: 34px;
      left: -60px;
      width: 280px;
      height: 1px;
      background-color: $special-border-grey;
    }
}

.socials__item {
  margin-right: 36px;
}
