.socials {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9D9D9;
}

@media (min-width: $tablet-width) {
  .socials {
    padding: 0;
    border-bottom: none;
  }
}
