.socials {
  list-style: none;
  margin: 0;
  padding-right: 62px;
  padding-left: 62px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9D9D9;
}

.socials a {
  fill: $special-light-grey;
    &:hover,
    &:focus{
      fill: $basic-green;
    }
    &:active {
      opacity: 0.3;
    }
}


@media (min-width: $tablet-width) {
  .socials {
    padding: 0;
    margin-left: 40px;
    margin-right: 42px;
    border-bottom: none;
  }

  .socials__link--vk svg {
     width: 30px;
     height: 17px;
  }

  .socials__link--instagram svg {
    width: 30px;
    height: 23px;
  }

  .socials__link--facebook svg {
    width: 20px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    margin-left: 125px;
    margin-right: 130px;
  }
}
