$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark-green: #5eaa2f;
$basic-green: #68b738;
$basic-light-grey: #f2f2f2;
$basic-grey: #ebebeb;
$basic-dark-grey: #cdcdcd;

$special-light-grey: #666666;
$special-grey: #444444;
$special-dark-grey: #222222;
$special-error-red: #ff8282;
$special-black: #111111;
$special-border-grey: #d9d9d9;
$special-input-grey: #e7e7e7;
$special-background-grey: #eaeaea;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
